* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
/* 1rem-10px으로 하기 위해서 62.5%로 지정함*/
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/*  */
.wrap {
  width: 100%;
  border: 1px solid slateblue;
}

.wrap-top-banner {
  width: 100%;
  background: slategray;
  text-align: center;
}

header {
  width: 100%;
  border: 1px solid saddlebrown;
}
.gnb-inner {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 2fr 1fr;
  gap: 1rem;
  background: sandybrown;
}
/* 영역지정 */
.logo {
  font-size: 2rem;
  text-align: center;
  grid-column: 1/2;
  /* line-height: 50px; */
  display: grid;
  place-items: center;

  background: steelblue;
}
.nav {
  grid-column: 2 / span 1;
  background: skyblue;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* line-height: 50px; */
  place-items: center;
}
.util-wrap {
  grid-column: 3/-1;
  background: slateblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.util-guide {
  height: 100%;
  display: grid;
  place-items: center;

  grid-template-columns: repeat(2, 1fr);
  background: silver;
}
.util-list {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  background: saddlebrown;
}
/* main */
.main {
  border: 1px solid #000;

  /* 1200px ~  */
  @media (min-width: 1200px) {
    max-width: 1200px;
    /* 아직 안에 내용이 없으니 height지정 */
    /* height: 500px; */
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-top-wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 5px solid seagreen;
}
.article-left {
  grid-row: 1/-1;
  border: 1px solid sienna;
}
.grid-wrap {
  display: grid;
  /* height: 500px; */
  background: lemonchiffon;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(50px, auto); 아래줄로 하는게 맞음..*/
  grid-template-rows: repeat(3, 1fr);
}
.grid-wrap li {
  border: 1px solid saddlebrown;
  height: 100%;
}
.grid-wrap .grid-item-one {
  /* padding: 20px; */
  grid-column: 1 / span 2;
  grid-row: 1/3;
  background: skyblue;
  /*  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr;
  padding: 30px;
  padding-top: 100px;
  box-sizing: border-box;
  background: silver;
  h3 {
    grid-column: 1/-1;
  }
  button {
    padding: 1rem;
  }
  .one-img {
    width: 100px;
    height: 100px;
    background: salmon;
  }
}
.grid-item-four {
  display: grid;
  padding: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50px 1fr;
  background-color: green;
  box-sizing: border-box;
  h3 {
    grid-column: 1/-1;
  }
  .one-button-box {
    border: 1px solid red;
    padding-right: 3rem;
  }
  .one-img {
    border: 1px solid yellow;
    background: salmon;
  }
}
.article-main-mid-banner {
  grid-column: 1 / 2;
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}
article {
  margin-top: 8rem;
  border: 3px solid green;
}

.right-promotion {
  display: grid;

  .promotion {
    background-color: steelblue;
    .promotion-title {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, auto));
      grid-auto-rows: 50px;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      /* background: salmon; */
      span {
        margin-left: auto;
      }
    }
    .promotion-tab {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30px, auto));
      padding: 1rem;
      font-size: 14px;
      li {
        padding: 2px;
      }
    }
    .right {
      border-radius: 1rem;
      margin-bottom: 1rem;
      width: 230px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      padding: 1rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      /* right one */
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 1rem;
      }
      .one-grid {
        /* border: 1px solid slateblue; */
        .right-title {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      p {
        font-size: 2.4rem;
      }
      p.sale {
        font-size: 2rem;
      }
      button {
        padding: 1rem;
        font-size: 1.6rem;
        border-radius: 0.5rem;
      }
      .img {
        height: 100px;
        background: hotpink;
      }
      &.one {
        background: rgb(176, 135, 190);
      }
      &.two {
        background: sandybrown;
      }
      &.three {
        background: yellowgreen;
      }
      &.four {
        background: darkgoldenrod;
      }
    }
  }
  .button-align {
    text-align: center;
    align-self: flex-end;
    /* border: 1px solid; */
  }
  .promotion-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid salmon;
  }
}
.article-rank {
  .rank-main-title {
    display: grid;
    height: 50px;
    grid-template-columns: 2fr 1fr;
    border: 1px solid red;
    h3 {
      padding: 1rem;
      background: lightslategray;
    }
    span {
      padding: 1rem;
      /* 바로 text가있으므로 text-align이 먹힌다.-부모에 주는거임 원래는. */
      text-align: right;
      background: skyblue;
      /* justify-self: flex-end; */
      /* margin-left: auto; */
    }
  }
  .list-contaner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: lightgreen;
    padding: 1rem;
  }
  .rank-title-list {
    padding: 1rem;
    margin-left: 1rem;
    --margin-block: 0.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr 100px;
    grid-auto-rows: minmax(30px, auto);
    background: #fff;
    /* border: 1px solid red; */
    border-radius: 1rem;
    /* margin-inline: var(--margin-in, var(--margin-inline)); */
    margin-block: var(--margin-b, var(--margin-block));

    li:first-child {
      padding: 10px;
      background: #000;
      color: #fff;
    }
    li:nth-child(2) {
      margin-left: 0.5rem;
    }
  }
}
/* 이달의 특가상품 */
.month-sale {
}
.month-title {
  display: grid;
  height: 50px;
  align-items: center;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  span {
    justify-self: flex-end;
  }
}
/* ul */
.month-tab {
  display: grid;
  height: 50px;
  padding: 1rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, auto));
  margin-right: auto;
  background: silver;
}
.month-tab li {
  margin-right: 1rem;
}
.month-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}
.month-item {
  border: 2px solid slateblue;
  padding: 1rem;
}
.month-list-one {
  display: grid;
  grid-template-columns: minmax(30px, auto) 1fr;
  margin-bottom: 1rem;
}
.gb {
  font-size: 21px;
}
.mbps {
  margin-bottom: 1rem;
}
.month-list-icon {
  display: grid;
  gap: 10px;
  /* grid-template-columns: minmax(100px, auto) 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(50px, auto));
  margin-bottom: 1rem;
}
.month-item .price {
  font-size: 23px;
}
.benefit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.benefit-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border: 1px solid salmon;
  .img {
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    border-radius: 50%;
    background: lightblue;
  }
}
.one-title {
  font-weight: 500;
}
/*  */
/* 한줄 다 차지하므로...놔둬도된다. */
.review-title {
  margin-bottom: 5rem;
}
.review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.review-area {
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;

  border: 1px solid salmon;
}
.review-top {
  margin-right: 1rem;
  background: sandybrown;
}
.review-bottom {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 0.5fr 2fr;
  margin-top: 5rem;
}
.review-bottom > div {
  border: 1px solid saddlebrown;
}
.review-bottom div:first-child {
  /* grid-column: span 1; */
}
.review-bottom div:last-child {
  /* grid-column: span 2; */
}
.button {
  margin-top: 8rem;
  /* background: salmon; */
  /* margin: 0 auto; 
  이 안된이유는 본인애게 block에게 줘야한다.
  */
  /* 부모가 block이고 자식이 inline-block일떄는 가운데로 간다.  */
  /* 😘 방법---1 */
  text-align: center;
}

.button button {
  /* margin:0 auto는 block요소에서만되고, 본인한테만 적용되어서 block으로 전환함 */
  /* 😘 방법---2   둘 중 하나하면된다.*/
  display: block;
  margin: 0 auto;
  border: 1px solid green;
  padding: 2rem;
  border-radius: 1rem;
}
/* footer다 힘내자!!!!! 낼은 쉬잖아~~~~ */
footer {
  width: 100%;
  padding: 50px 0;
  background: #f4f4f4;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid salmon; */
}
.footer-cs {
  padding: 2rem 4rem;
  border: 1px solid lightcoral;
}
.cs-title {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-template-columns: 100px 1fr;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}
.cs-menu {
  /* border: 1px solid green; */
}
.cs-menu ul {
  display: grid;
  /* 아래처럼5를 써도 되지만 수는 늘어날수있으므로 아래아래처럼 */
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: right;
}

.cs-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.number {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  /* border: 1px solid slateblue; */
}
.number-ul {
  margin-left: 100px;
}
.number-ul dl {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.number-ul dd {
  margin-left: auto;
}
/* */
.footer-info {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: lavender;
}
.footer-info ul {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
  grid-template-columns: repeat(7, auto);
  /* grid-template-columns: repeat(auto-fit, max-content); */
  align-items: center;
  /* border: 1px solid; */
}
a {
  display: inline-block;
  white-space: nowrap;
}

.footer-info .info-site {
  /* background: lawngreen; */
  /* border: 1px solid; */
  margin-left: auto;
}
.footer-info .info-site button {
  padding: 0.5rem;
  margin-left: 2rem;
}
.company-box {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 130px auto;
  align-items: center;
  /* border: 1px solid; */
}
.company-box p {
  grid-column: span 1;
}
.company-img {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.company-img .img {
  /* display: inline-block; */
  padding: 1rem;
  border: 1px solid saddlebrown;
  border-radius: 50px;
  text-align: center;
}
/*  */
.footer-copy {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background: springgreen;
}
.footer-adress {
  border: 1px solid;
}
.footer-select {
  border: 1px solid;
  margin-left: auto;
}
.footer-select span {
  margin-left: 10rem;
}
.footer-select span:last-child {
  margin-right: 5rem;
}
